[target.x86_64-unknown-linux-gnu]
pre-build = [
    "apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y clang llvm-dev libclang-dev build-essential pkg-config && rm -rf /var/lib/apt/lists/*",
    "LLVM_LIBDIR=$(llvm-config --libdir) && ln -sf ${LLVM_LIBDIR}/libclang.so /usr/lib/libclang.so",
    "ldconfig"
]

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y clang llvm-dev libclang-dev build-essential pkg-config && rm -rf /var/lib/apt/lists/*",
    "LLVM_LIBDIR=$(llvm-config --libdir) && ln -sf ${LLVM_LIBDIR}/libclang.so /usr/lib/libclang.so",
    "ldconfig"
]
